<h3><i class="fas fa-book-reader"></i><b> StoryBooks</b></h3>
<div class="section">
    <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blcack darken-1">
        <i class="fab fa-google left"></i> <b>Log In With Google</b>
    </a>
</div>